@model IEnumerable<Concessionaria.Models.Carros>
@{
    ViewData["Title"] = "Index";
}
<p> <a class="btn btn-outline-primary" asp-action="Create"> Inserir Carro </a> </p>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th class="text-center"> Ações </th>
        </tr>
    </thead>
<tbody>
  @foreach (var item in Model)
    {
        <tr class="align-middle">
            <td>
                @{
                    try
                    {
                        var base64 = Convert.ToBase64String(@item.Foto);
                        if (!string.IsNullOrEmpty(base64))
                        {
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img class="img-fluid" src="@imgSrc" width="200"  />
                        }
                    }
                    catch
                    {
                        <img class="img-fluid" src="https://www.puspfc.usp.br/sistemas/prefeitura/imgs/sem_foto.png" width="70" />
                    }
            
                 }
                 </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td class="text-center">
                 <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"> Editar </a>
                 <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id"> Detalhes </a>
                 <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"> Apagar </a>
            </td>
       </tr>
      }
    </tbody>
</table>